<div class='row'>
  <div id='ability-index-box' class='col-md-2'>
    <h2>Index</h2>
    <ul id='ability-list' class='list-group'>
      {{#each abilities}}
        <li class='list-group-item' data-id='{{id}}'>{{title}}</li>
      {{/each}}
    </ul>
  </div>

    <div id='character-view-pane' class='col-md-10'>
        <h2 id="ability-name">Ability Name</h2>
    </div>
