<div class='row'>
  <div id='character-index-box' class='col-md-2'>
    <h2>Index</h2>
    <ul id='character-list' class='list-group'>
      {{#each characters}}
        <li class='list-group-item' data-id='{{id}}'>{{character_name}}</li>
      {{/each}}
    </ul>
  </div>

  <div id='character-view-pane' class='col-md-10'>
    <h2 id='character-name'>Character Name</h2>
    <div class='d-inline-block' id='character-name-edit'><i
        class='fa-regular fa-pen-to-square'
      ></i></div>
    <div class='character-stat-block'>
      <div class='input-group mb-1 input-group-sm'>
        <input
          class='form-control'
          id='character-gender'
          placeholder='Gender'
        />
        <input class='form-control' id='character-race' placeholder='Race' />
        <span class='input-group-text'>/</span>
        <input class='form-control' id='character-class' placeholder='Class' />
        <input class='form-control' id='character-level' placeholder='Level' />
        <span class='input-group-text'>/</span>
        <input
          class='form-control'
          id='character-alignment'
          placeholder='Alignment'
        />
        <input class='form-control' id='character-size' placeholder='Size' />
        <input class='form-control' id='character-type' placeholder='Type' />
      </div>
      <div class='input-group mb-1 input-group-sm'>
        <span class='input-group-text'>Hit Die:</span><input
          class='form-control'
          id='character-hit-die-text'
        />
        <span class='input-group-text'>HP:</span><input
          class='form-control'
          id='character-hit-points-text'
        />
      </div>
      <div class='input-group mb-1 input-group-sm'>
        <span class='input-group-text'>Initiative:</span><input
          class='form-control'
          id='character-initiative-text'
        />
        <span class='input-group-text'>Speed:</span><input
          class='form-control'
          id='character-speed-text'
        />
        <span class='input-group-text'>Space:</span><input
          class='form-control'
          id='character-space-text'
        />
        <span class='input-group-text'>Reach:</span><input
          class='form-control'
          id='character-reach-text'
        />
      </div>
      <div class='input-group mb-1 input-group-sm'>
        <span class='input-group-text'>Armor Class:</span><input
          class='form-control'
          id='character-armor-class-text'
        />
      </div>
      <div class='input-group mb-1 input-group-sm'>
        <span class='input-group-text'>Attack:</span><input
          class='form-control'
          id='character-attack-text'
        />
      </div>
      <div class='input-group mb-1 input-group-sm'>
        <span class='input-group-text'>Full Attack:</span><input
          class='form-control'
          id='character-full-attack-text'
        />
      </div>
      <div class='input-group mb-1 input-group-sm'>
        <span class='input-group-text'>Special Attacks:</span><input
          class='form-control'
          id='character-special-attacks-text'
        />
      </div>
      <div class='input-group mb-1 input-group-sm'>
        <span class='input-group-text'>Special Qualities:</span><input
          class='form-control'
          id='character-special-qualities-text'
        />
      </div>
      <div class='input-group mb-1 input-group-sm'>
        <span class='input-group-text'>Fortitude:</span><input
          class='form-control'
          id='character-fortitude-save-text'
        />
        <span class='input-group-text'>Reflex:</span><input
          class='form-control'
          id='character-reflex-save-text'
        />
        <span class='input-group-text'>Will:</span><input
          class='form-control'
          id='character-will-save-text'
        />
      </div>
      <div class='input-group mb-1 input-group-sm'>
        <span class='input-group-text'>Str:</span><input
          class='form-control'
          id='character-strength-text'
        />
        <span class='input-group-text'>Dex:</span><input
          class='form-control'
          id='character-dexterity-text'
        />
        <span class='input-group-text'>Con:</span><input
          class='form-control'
          id='character-constitution-text'
        />
        <span class='input-group-text'>Int:</span><input
          class='form-control'
          id='character-intelligence-text'
        />
        <span class='input-group-text'>Wis:</span><input
          class='form-control'
          id='character-wisdom-text'
        />
        <span class='input-group-text'>Cha:</span><input
          class='form-control'
          id='character-charisma-text'
        />
      </div>
      <div class='input-group mb-1 input-group-sm'>
        <span class='input-group-text'>Skills:</span><textarea
          id='character-skills-text'
          class='form-control'
        ></textarea>
      </div>
      <div class='input-group mb-1 input-group-sm'>
        <span class='input-group-text'>Feats:</span><textarea
          id='character-feats-text'
          class='form-control'
        ></textarea>
      </div>
      <div class='input-group mb-1 input-group-sm'>
        <span class='input-group-text'>Equipment:</span><textarea
          id='character-equipment-text'
          class='form-control'
        ></textarea>
      </div>
    </div>
    <h3>Notes</h3>
    <div class='character-notes'>
      <textarea id='character-notes-text' class='form-control'></textarea>
    </div>
  </div>
</div>