<main>
    <div class="build-container">
        <h1>It's Time To Build Your Character!</h1>
    <div class="table-container">
        {{table}}
    </div>
    <div class="character-container">
        {{character}}
    </div>
    </div>
</main>