<header>
    <nav>
        <input type="checkbox" id="check">
        <label for="check" class="checkbtn">
            <i class="fas fa-bars"></i>
        </label>
        <label class="theme">DMHelper</label>
        <ul>
            <li><a href="/main">Home</a></li>
            <li><a href="/build">Character Building</a></li>
            <li><a href="/chat">Chat</a></li>
            <li><a href="/login">Login</a></li>
        </ul>
    </nav>
</header>