 <form action="" class="login__create none" id="login-up">
    <h1 class="login__title">Create Account</h1>
    
    <div class="login__box">
        <i class='bx bx-user login__icon'></i>
        <input type="text" placeholder="Username" class="login__input">
    </div>
    
    <div class="login__box">
        <i class='bx bx-at login__icon'></i>
            <input type="text" placeholder="Email" class="login__input">
    </div>

    <div class="login__box">
        <i class='bx bx-lock-alt login__icon'></i>
            <input type="password" placeholder="Password" class="login__input">
    </div>

    <a href="#" class="login__button">Sign Up</a>
</form>