<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{name}}!</h2>
  </div>
</div>

<div class="row mt-4">
  <div class="col-md-6">
    <h3>BUILD YOUR CHARACTER:</h3>

    <form class="form new-character-form">
      <div class="character-sheet">
        <label for="character-name">character name:</label>
        <input class="small-input" type="text" id="character-name" name="character-name" />
      </div>
      <div class="character-sheet">
        <label for="gender">gender:</label>
        <input class="small-input" type="text" id="gender" name="gender" />
      </div>
      <div class="character-sheet">
        <label for="race">Race:</label>
        <input class="small-input" type="text" id="race" name="race" />
      </div>
       <div class="character-sheet">
        <label for="Class">Class:</label>
        <input class="small-input" type="text" id="Class" name="Class" />
      </div>
      <div class="character-sheet">
        <label for="Level">Level:</label>
        <input class="small-input" type="text" id="2Level" name="Level" />
      </div>
      <div class="character-sheet">
        <label for="alignment">Alignment:</label>
         <input class="small-input" type="text" id="Alignment" name="Alignment" />
      </div>
       <div class="character-sheet">
        <label for="Size">Size:</label>
        <input class="small-input" type="text" id="Size" name="Size" />
      </div>
      <div class="character-sheet">
        <label for="Type">Type:</label>
        <input class="small-input" type="text" id="Type" name="Type" />
      </div>
      <div class="character-sheet">
        <label for="hitDie">HitDie:</label>
        <input class="mid-input" type="hitDie" id="hitDie" name="hitDie" />
      </div> 
      <div class="character-sheet">
        <label for="hitPoints">Hit Points:</label>
        <input class="mid-input" type="number" id="hitPoints" name="hitPoints" />
      </div>
      <div class="character-sheet">
        <label for="initiative">initiative:</label>
        <input class="mid-input" type="number" id="initiative" name="initiative" />
      </div>
      <div class="character-sheet">
        <label for="Speed">description:</label>
         <input class="mid-input" type="number" id="Speed" name="Speed" />
      </div> 
      <div class="character-sheet">
        <label for="Space">Space:</label>
        <input class="mid-input" type="number" id="Space" name="Space" />
      </div>
      <div class="character-sheet">
        <label for="Reach">Reach:</label>
        <input class="mid-input" type="number" id="Reach" name="Reach" />
      </div>
      <div class="character-sheet">
        <label for="armorClass">Armor Class:</label>
        <input class="large-input" type="armorClass" id="armorClass" name="armorClass" />
      </div>
      <div class="character-sheet">
        <label for="attacks">Attacks:</label>
       <textarea class="textfield" id="attacks" name="attacks"></textarea>
      </div>
      <div class="character-sheet">
        <label for="fullAttack">Full Attack:</label>
        <textarea class="textfield" id="fullAttack" name="fullAttack"></textarea>
      </div>
      <div class="character-sheet">
        <label for="specialAttack">Special Attacks:</label>
        <textarea class="textfield" id="specialAttack" name="specialAttack"></textarea>
      </div>
       <div class="character-sheet">
        <label for="specialQual">Special Qualities:</label>
        <textarea class="textfield" id="specialQual" name="specialQual"></textarea>
      </div>
      <div class="character-sheet">
        <label for="fort">Fort:</label>
         <input class="mid-input" type="number" id="fort" name="fort" />
      </div>
      <div class="character-sheet">
        <label for="reflex">Reflex:</label>
         <input class="mid-input" type="number" id="reflex" name="reflex" />
      </div> 
      <div class="character-sheet">
        <label for="will">Will:</label>
         <input class="mid-input" type="number" id="will" name="will" />
      </div>
      <div class="character-sheet">
        <label for="str">STR:</label>
         <input class="small-input" type="number" id="STR" name="STR" />
      <div class="character-sheet">
        <label for="dex">DEX:</label>
         <input class="small-input" type="number" id="DEX" name="DEX" />
      </div> <div class="character-sheet">
        <label for="con">CON:</label>
         <input class="small-input" type="number" id="CON" name="CON" />
      </div>
      <div class="character-sheet">
        <label for="int">INT:</label>
        <input class="small-input" type="number" id="INT" name="INT" />
      </div>
      <div class="character-sheet">
        <label for="wis">WIS:</label>
        <input class="small-input" type="number" id="WIS" name="WIS" />
      </div> 
      <div class="character-sheet">
        <label for="cha">CHA:</label>
       <input class="small-input" type="number" id="CHA" name="CHA" />
      </div>
      <div class="character-sheet">
        <label for="skills">Skills:</label>
        <textarea class="textfield" id="Skills" name="Skills"></textarea>
      </div>
      <div class="character-sheet">
        <label for="feat">Feat:</label>
        <textarea class="textfield" id="Feat" name="Feat"></textarea>
      </div> 
      <div class="character-sheet">
        <label for="spelllist">Spell List:</label>
       <textarea class="textfield" id="Spell List" name="Spell List"></textarea>
      </div>
      <div class="character-sheet">
        <label for="equipment">Equipment:</label>
         <textarea class="textfield" id="Equipment" name="Equipment"></textarea>
      </div>
      <div class="character-sheet">
        <label for="notes">Notes:</label>
        <textarea class="textfield" id="Notes" name="Notes"></textarea>
      </div>
      
    </form>
  </div>