<header id="page-header" class="container text-center mt-2">
    <h1 class="text-white">DM Helper</h1>
</header>

<section id="navigation" class="container">
    {{> navtabs}}
</section>

<main id="main" class="tab-content container">

    <div class="tab-pane fade" id="dice-tab">
        {{> dicetab}}
    </div>

    <div class="tab-pane fade show active" id="character-tab">
        {{> charactertab}}
    </div>

    <div class="tab-pane fade" id="abilities-tab">
        {{> abilitiestab}}
    </div>

</main>