<section id="navigation">
    {{> navtabs}}
</section>

<main id="main" class="tab-content container">

    <div class="tab-pane fade show active" id="dice-tab">
        {{> dicetab}}
    </div>

    <div class="tab-pane fade" id="character-tab">
        {{> charactertab}}
    </div>

    <div class="tab-pane fade" id="abilities-tab">
        {{> abilitiestab}}
    </div>

</main>