<div class='container'>
  <div id='login-box'>
    <div id='login-header' class='text-center'>
      <h1>Welcome to DM Helper!</h1>
      <p>Please log in to access character sheets, dice rollers, and more!</p>
    </div>
    {{#if error}}
      <div class='alert alert-danger'>{{error}}</div>
    {{/if}}
    <div class='mt-5'>
      <input class='form-control mb-3' type='email' id='username-field' />
      <input class='form-control mb-3' type='password' id='password-field' />
      <button class='btn btn-primary' id='login-button'>Login</button>
    </div>
  </div>
</div>

<script src='./js/login.js'></script>