<div class='container'>
  <div id='signup-box'>
    <div id='signup-header' class='text-center'>
      <h1>Create an Account!</h1>
      <p>Create an account to help us run your game!</p>
    </div>
    <div class='mt-5'>
      <input class='form-control mb-3' type='email' id='username-field' />
      <input class='form-control mb-3' type='password' id='password-field' />
      <div class='login-box d-flex justify-content-between'>
        <button class='btn btn-primary' id='login-button'>Login</button>
        <a href='/signup'><p>Not registered? Create an account!</p></a>
      </div>
    </div>
  </div>
</div>

<script src='./js/login.js'></script>